/* Home.css */
.background {
  background-color: black;
  height: 100%;
  min-height: 100vh;  /* Ensures the background fills the viewport height */
  display: flex;  /* Optional: This makes the content inside centered vertically if needed */
  flex-direction: column; /* Ensure the content inside is arranged in a column */
}

.container {
  min-width: 90vw;

  margin: 0;

}


.three-js-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .overlay-content {
    position: absolute;
    top:30vh;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow mouse events to pass through */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .overlay-content .container {
    pointer-events: auto; /* Reactivate pointer events within the Bootstrap content */
  }
  
  .overlay-content img {
    cursor: pointer;
  }
  
d-flex {
    padding: 0;
  }