html, body {
  height: 100%;
  background: black;
  margin: 0;
  /* overflow: hidden; */
}
canvas {
  display: block;
}

body, h1, h2, h3, h4, h5, h6, p, a, div, span, li, td, th {
  text-align: left;
  color: #ffffff; 

}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.4rem;
}


p {
  font-size: 1rem;
  color: #ffffff;
  padding: 10px 0px;
}
